/mvnw           text eol=lf
*.cmd           text eol=crlf
*.java          text eol=lf

/gradlew        text eol=lf
*.bat           text eol=crlf

build           text eol=crlf
detect          text eol=crlf